.chat-grid {
  display: grid;
  grid-template-rows: 1fr minmax(0, auto) auto;
  grid-template-areas:
    "chat"
    "suggestions"
    "new-message";
  height: 80vh;
}

@media (min-width: 900px) {
  .chat-grid {
    height: 100dvh;
  }
}

.chat {
  grid-area: chat;
  overflow-y: auto;
}

.suggestions {
  grid-area: suggestions;
}

.new-message {
  grid-area: new-message;
}