@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  @apply bg-light text-white;
}

.bg-light::selection {
  @apply bg-primary text-white;
}

.table :where(th, td) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  vertical-align: middle;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

th {
  font-weight: 500;
}

/* input text */
input[type="text"] {
  @apply bg-transparent outline-none;
}

.btn {
  @apply px-4 py-2 flex items-center gap-2 rounded;
}

.btn:hover {
  @apply bg-light text-white border-gray-500;
}

.btn-primary {
  @apply bg-primary rounded;
}

.btn-secondary {
  @apply bg-transparent text-gray-950 border border-primary-soft rounded;
}

.brightness-0 {
  filter: brightness(0);
}

.refs {
  @apply !h-0  overflow-hidden;
}

.response:last-child .refs {
  @apply !h-auto;
}

.collapse-custom {
  @apply transition-all;
}

.collapse-custom-content {
  @apply transition-all overflow-hidden;
}

.collapse-custom.collapse-custom-open > .collapse-custom-content {
  @apply max-h-[100px];
}

.collapse-custom:not(.collapse-custom-open) > .collapse-custom-content {
  @apply max-h-0;
}

.text-shyne {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #525252, #dadada, #525252);
  background-size: 80%;
  animation: animate 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

@keyframes animate {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}

.emoji-rotator {
  display: inline-block;
  animation: flip 2s infinite;
  transform-origin: center;
}

@keyframes flip {
  0% {
    transform: rotateY(90deg);
  }
  5%, 95% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.emoji-rotator::before {
  content: "🌏";
  display: inline-block;
  animation: emojiChange 6s infinite;
}

@keyframes emojiChange {
  0%, 33% { /* America */
    content: "🌎";
  }
  33.1%, 66% { /* Europe - Africa */
    content: "🌍";
  }
  66.1%, 100% { /* Asia - Australia */
    content: "🌏";
  }
}

.text-shadow {
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}
